@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0A0A0A;
  font-feature-settings: "rlig" 1, "calt" 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 640px) {
  button, a {
    min-height: 44px;
    min-width: 44px;
  }
}